<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
  <i class="iconfont icon-date"></i>
    <%= date(post.date, date_format) %>
  </time>
</a>