<div class="duoshuo">
  <div class="ds-thread" data-thread-key="<%=key%>" data-title="<%=title%>" data-url="<%=url%>"></div>
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"<%=theme.duoshuo%>"};
  (function() {
    var ds   = document.createElement('script');
    ds.async = true;
    ds.src   = '//dn-hb0716.qbox.me/duoshuo.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
      || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
</div>
