<footer id="footer">
  <div class="outer">
    <div class="footer-left">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </div>
    <div class="footer-right">提供CDN加速服务</div>
    <a class="footer-right" href="https://upyun.com" target="_blank">
      <img src="/img/upyun_logo_90x45.png" alt="upyun">
    </a>
  </div>
</footer>
