#page-nav{
	text-align: center;
	margin-top: 30px;
	.page-number{
    width: 20px;
    height: 20px;
    background: #888;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    margin: 0 3px 30px;
		&:hover{
			background: #666;
		}
	}
	.current{
		background: #222;
		cursor: default;
		&:hover{
			background: #222;
		}
	}
	.extend{
    color: #888;
    margin: 0 27px;
    opacity: 0;
    &:hover{
      color: #666;
    }
	}
	&:hover{
		.extend{
			opacity: 1;
		}
	}
}
