#container{
  position:relative;
  min-height:100%;
  #mobile-nav{
    display: none;
    background-size: cover;
    .overlay{
      height: 110px;
      position: absolute;
      background: #4d4d4d;
      &.fixed{
        position: fixed;
        height: 38px;
        z-index: 99;
      }
    }
    .intrude-less {
      background-color: rgba(0, 0, 0, 0.34);
    }
    #header{
      padding: 10px 0 0 0;
      .profilepic{
        display: block;
        position: relative;
        width: 80px;
        height: 80px;
        z-index: 100;
      }
      .header-menu{
        height: auto;
        margin: 10px;
        ul{
          text-align: center;
          cursor: default;
        }
        li{
          display: inline-block;
          margin: 3px;
        }
      }
    }
  }
  .left-col {
    width: 300px;
    position:fixed;
    opacity:1;
    transition:all .2s ease-in;
    height:100%;

    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      position: absolute;
      opacity: 0.3;
    }
    .intrude-less {
      width: 100%;
      padding-top: 10px;
      text-align: center;
      margin: 40px auto 0;
      overflow: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .mid-col {
    position:absolute;
    right:0;
    min-height:100%;
    left: 300px;
    width: auto;
    background-color: #F5F5F5;
  }

  @media screen and (min-width:800px) {
    .left-col {
      background: url(../img/pc_bg.jpg) #515457;
    }

  }@media screen and (max-width:800px) {
    @import "_partial/mobile"
  }
}
.header-author{
  text-align: center;
  margin: 0.67em 0;
  font-family: Roboto, "Roboto", serif;
  font-size: 30px;
  color: #FFF;
  transition: 0.3s;
}
.header-author a:hover {
  color: #ccc !important;
}
#header{
  width:100%;
  a {
    color: #FFF;
    &:hover {
      color: #DDD;
    }
  }
  .profilepic{
    display: block;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0px 2px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 300px;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #fff;
    transition: all 0.2s ease-in;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 300px;
      transition: all 0.2s ease-in;
      &.animate {
        transform-origin: top center;
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.34, 1.2, 0.7, 1);
        animation-name: dropIn;
      }
    }
    &:hover {
      animation: btnGroups 1s linear;
    }
    @keyframes dropIn {
      0% {
        opacity: 0;
        transform: scale(0);
      }

      100% {
        width: 100%;
        transform: scale(1);
      }
    }
    @keyframes btnGroups {
      0% {
        transform: scale(1.2,0.8);
      }
      1% {
        transform: scale(1.18,0.82);
      }
      2% {
        transform: scale(1.16,0.84);
      }
      3% {
        transform: scale(1.13,0.87);
      }
      4% {
        transform: scale(1.1,0.9);
      }
      5% {
        transform: scale(1.07,0.93);
      }
      6% {
        transform: scale(1.04,0.96);
      }
      7% {
        transform: scale(1.01,0.99);
      }
      8% {
        transform: scale(0.99,1.01);
      }
      9% {
        transform: scale(0.97,1.03);
      }
      10% {
        transform: scale(0.95,1.05);
      }
      11% {
        transform: scale(0.94,1.06);
      }
      12% {
        transform: scale(0.93,1.07);
      }
      13% {
        transform: scale(0.93,1.07);
      }
      14% {
        transform: scale(0.93,1.07);
      }
      15% {
        transform: scale(0.93,1.07);
      }
      16% {
        transform: scale(0.94,1.06);
      }
      17% {
        transform: scale(0.94,1.06);
      }
      18% {
        transform: scale(0.95,1.05);
      }
      19% {
        transform: scale(0.96,1.04);
      }
      20% {
        transform: scale(0.98,1.02);
      }
      21% {
        transform: scale(0.99,1.01);
      }
      22% {
        transform: scale(1,1);
      }
      23% {
        transform: scale(1,1);
      }
      24% {
        transform: scale(1.01,0.99);
      }
      25% {
        transform: scale(1.02,0.98);
      }
      26% {
        transform: scale(1.02,0.98);
      }
      27% {
        transform: scale(1.02,0.98);
      }
      28% {
        transform: scale(1.03,0.97);
      }
      29% {
        transform: scale(1.03,0.97);
      }
      30% {
        transform: scale(1.02,0.98);
      }
      31% {
        transform: scale(1.02,0.98);
      }
      32% {
        transform: scale(1.02,0.98);
      }
      33% {
        transform: scale(1.02,0.98);
      }
      34% {
        transform: scale(1.01,0.99);
      }
      35% {
        transform: scale(1.01,0.99);
      }
      36% {
        transform: scale(1.01,0.99);
      }
      37% {
        transform: scale(1,1);
      }
      38% {
        transform: scale(1,1);
      }
      39% {
        transform: scale(1,1);
      }
      40% {
        transform: scale(0.99,1.01);
      }
      41% {
        transform: scale(0.99,1.01);
      }
      42% {
        transform: scale(0.99,1.01);
      }
      43% {
        transform: scale(0.99,1.01);
      }
      44% {
        transform: scale(0.99,1.01);
      }
      45% {
        transform: scale(0.99,1.01);
      }
      46% {
        transform: scale(0.99,1.01);
      }
      47% {
        transform: scale(0.99,1.01);
      }
      48% {
        transform: scale(0.99,1.01);
      }
      49% {
        transform: scale(1,1);
      }
    }
  }
  .header-subtitle{
    text-align: center;
    color:#FFF;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header-menu{
    font-weight: 300;
    line-height: 31px;
    cursor: pointer;
    text-transform: uppercase;
    min-height: 100px;
    text-align: center;
    li{
      cursor: default;
      a{
        font-size: 14px;
        min-width: 300px;
      }
    }
  }
  .switch-area{
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #FFF;
    min-height: 250px;
    font-size: 14px;
    .switch-wrap{
      transition: transform .3s ease-in;
      position: relative;
    }
  }
  .turn-left{
    transform: translate(-100%, 0 );
  }
  .header-nav{
    width: 100%;
    position: absolute;
    transition: transform .3s ease-in;
    .social {
      padding:10px 0 20px;
      text-align: center;
      li {
        float: left;
      }
      a {
        color: #fff;
        border-radius:50%;
        display:inline-block;
        vertical-align:middle;
        *vertical-align:auto;
        zoom:1;
        *display:inline;
        margin:0 8px;
        opacity:0.8;
        width:28px;
        height:28px;
        transition:0.3s;
        line-height: 28px;
        &:hover {
          opacity:1
          color:#fff;
        }
      }
      a.weibo {
        background-color:#F00;
      }
      a.rss {
        background-color:#ef7522;
      }
      a.github {
        background-color:#000;
      }
      a.facebook {
        background-color:#3b5998;
      }
      a.google {
        background-color:#F00;
      }
      a.twitter {
        background-color:#55cff8;
      }
      a.linkedin {
        background-color:#00639A;
      }
      a.zhihu {
        background-color:#0663C1;
      }
      a.douban {
        background-color:#06c611;
      }
      a.mail {
        background-color:#00ABFF;
      }
    }
  }
  .switch-part{
    width: 100%;
    position: absolute;
  }
  .switch-part1{
    left: 0;
  }
  .switch-part2{
    left: 100%;
    top: 20px;
    overlay-x: hidden;
    overflow-y: auto;
    max-height: 200px;
  }
  .switch-part3{
    top: 20px;
    left: 200%;
    line-height: 30px;
    .switch-friends-link{
      margin: 10px;
    }
  }
  .switch-part4{
    left: 300%;
    text-align: left;
    line-height: 30px;
  }
  .switch-part1 .header-menu,
  .switch-part3 {
    a {
      position: relative;
      color: #fff;
      text-decoration: none;
      word-break: normal;
      white-space: nowrap;
    }
    a:hover {
      color: #fff;
    }
    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -3px;
      left: 0;
      background-color: #fff;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

#scroll{
  right: 0;
}

.scroll {
  z-index: 999;
  position: fixed;
  bottom: 40px;
  text-align: center;
  line-height: 42px;
  a {
    display: block;
    width: 29px;
    height: 42px;
    font-size: 28px;
    &:last-child {
      border-bottom: none;
    };
    .fa {
      color: rgba(255, 255, 255, .8);
    }
    &:hover {
      background: rgba(147, 181, 224, .3) !important;
      .fa {
        color: white;
      }
    }
  }
}

.hide-labels {
  position: fixed;
  left: 378px;
  top: 30px;
  padding: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: .9em;
  font-weight: bold;
  color: #999;
  background: none;
  opacity: .32;
  appearance: none;
  &:hover {
    color: #FFF;
    opacity: 1;
  }
}

#post-nav-button {
  left: 300px;
  a {
    border-bottom-color: transparent;
    background: none;
    cursor: pointer;
    .fa-times {
      display: none;
    }
  }
}

.post-list {
  display: none;
  text-align: left;
  font-size: .9em;
  line-height: 1.3em;
  list-style: decimal;
  li {
    margin: .4em 0 .1em .7em;
    a {
      color: gray;
      &:hover {
        color: ;
        text-decoration: none;
      }
    }
    &:hover {
      background: ;
      a {
        color: #88acdb;
      }
    };
   }
}